/* GLOBAL */

:root {
  --background: #f0f0f5;
  --blocos: #ffffff;

  --titulo: #322153;
  --textos: #6C6C80;
  --texto-suporte: #A0A0B2;

  --greenpeace: #34CB79;
  --desaturado: #E1FAEC;
}

* {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
}

body {
  background: var(--background);
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--titulo);
  font-family: Ubuntu, sans-serif;
}