body {
  background-color: var(--blocos);
}

body::after {
  content: "";

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  height: 260px;

  background-color: var(--background);

  z-index: -1;
}

#page-search-results {
  width: 90%;
  max-width: 1100px;

  margin: 0 auto;
}


/* HEADER */

#page-search-results header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 48px;
}

#page-search-results header a {
  display: flex;
  align-items: center;
  color: var(--titulo);
  font-weight: 700;
}

#page-search-results header a span {
  display: flex;

  height: 24px;
  width: 20px;

  margin-right: 16px;

  background-image: url(../assets/icones/arrow-left.svg);
}


/* MAIN */

#page-search-results main {
  margin: 48px 0;
}

#page-search-results main h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;

  margin-bottom: 32px;
}

#page-search-results main .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

#page-search-results main .card img {
  width: 100%;
  height: 150px;

  object-fit: cover;

  border-radius: 8px 8px 0 0;
}

#page-search-results main .card h1 {
  margin-top: 32px;
  
  color: var(--titulo);

  font-size: 36px;
  line-height: 41px;
}

#page-search-results main .card h3 {
  margin: 24px 0;
  
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;

  color: var(--greenpeace);
}

#page-search-results main .card p {
  color: var(--textos);

  font-size: 16px;
  line-height: 26px;
}